{% extends 'news/base.html' %}

{% block title %}
    Article details
{% endblock %}

{% block content %}
    <div class="px-4 pt-5 text-center border-bottom">
        <article class="blog-post">
            <h2 class="display-5 fw-bold">{{ article.title }}</h2>
            <hr>

            <p class="fs-4">{{ article.content }}</p>
            <p class="fs-6" style="color: #666666">{{ article.time_create }} by <a
                    href="{% url 'author_detail' article.author.pk %}"> {{ article.author }}</a></p>
            <p style="color: #666666">
                {% for category in article.category.all %}
                    {{ category.name }}
                {% endfor %}
            </p>
            <img class="mr-3 img-fluid col" src="{{ article.photo.url }}">
        </article>
    </div>
{% endblock %}
