{% extends 'news/base.html' %}

{% block title %}
    Article details
{% endblock %}

{% block content %}
    <h1>Title: {{ article.title }}</h1>

    <p><strong>Author: </strong>
        {% if article.author is not None%}
            <a href="{% url 'author-detail' article.author.pk %}"> {{ article.author }}</a>
        {% else %}
            None
        {% endif %}
    </p>
    <p><strong>Content: </strong> {{ article.content }}</p>
    <p><strong>Date: </strong> {{ article.time_create }}</p>
{% endblock %}